.square {
    flex: 1;
    background-color: beige;
}

.grid-container {
    margin: auto;
    border: 4px solid black;
    border-radius: 8px;
    height: 900px;
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.grid-line {
    display: flex;
    flex: 1;
    gap: 1px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 20px auto;
}

button {
    padding: 6px 24px;
}